# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# VSCode settings
.vscode/

# Logs
*.log
roboswish_debug.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# PyInstaller build
build/
dist/
*.spec
